*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    color: #fff;
    font-family: "Plain Light";
}

html,body{
    height: 100%;
    width: 100%;
}
#crsr{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    border: 2px solid #ffffff93;
    position: fixed;
    z-index: 999;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
}

.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

@keyframes anime{
    0%{
        font-family:"Plain Light";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    47%{
        font-family:"Plain Light";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 0.1px #fff;
        font-weight: 900;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 0.1px #fff;
        font-weight: 900;
        color: transparent;
        opacity: 0;
    }
}

#main{
    position: relative;
    background-color: #111;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 1vw;
    font-weight: 600;
}

.hero{
    width: 72%;
    margin-left: 27%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999;
}

.hero:nth-child(2){
    margin-top: 18vh;
}

.hero h1{
    font-size: 7.2vw;
    line-height: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
}

.hero h2{
    font-size: 7.2vw;
    line-height: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 0.5vw solid #fff;
    /* padding-bottom: 0.8vw;
    transition: all ease 0.3s; */
}

.hero h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding-top: 17vh;
    position: relative;
}

.video-container{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
}

.video-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
}

.video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-cursor{
    background-color: #ffA63D;
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:-10%;
    left: 80%;
    z-index: 999;
}

#video-cursor i{
    font-size: 2vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #954747;
    position: relative;
}

#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 5vh;
}

#page4-content{
    width: 72vw;
    margin-left: 28%;
    position: relative;
}

#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
}

#page4-content .underline{
    height: 2px;
    width: 100%;
    margin: 5vw 0vw;
    background-color: #fff;
}

#page4-content>p{
    font-size: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}

#page4-flex{
    display: flex;
}

#page4-flex img{
    width: 48%;
}

#page4-flex p{
    font-size: 0.9vw;
    width: 19%;
    margin-left: 2vw;
}

#page4-blue-div{
    width: 33vw;
    background-color: #3F7DF4;
    padding: 4vw 2vw;
    position: relative;
    margin-top: -35vh;
    margin-left: 26vw;
}

#blue-div-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.7vw 0;
    border-bottom: 2px solid #ffffffa3;
}

#blue-div-elem h4{
    font-size: 1.4vw;
    font-weight: 500;
}

#blue-div-elem p{
    width: 40%;
    font-size: 0.7vvw;
}