*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
    color: #fff;
    font-family: "Plain Light";
}

html,body{
    height: 100%;
    width: 100%;
}
#crsr{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    border: 2px solid #ffffff93;
    position: fixed;
    z-index: 999;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
    pointer-events: none;
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
}

.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

@keyframes Loader-anime{
    0%{
        font-family:"Plain Light";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    47%{
        font-family:"Plain Light";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 0.1px #fff;
        font-weight: 900;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 0.1px #fff;
        font-weight: 900;
        color: transparent;
        opacity: 0;
    }
}

#main{
    position: relative;
    background-color: #111;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 1vw;
    font-weight: 600;
}

.hero{
    width: 72%;
    margin-left: 27%;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 9999;
}

#hero1::before{
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
    left: 20%;
    top: 29%;
}


.hero:nth-child(2){
    margin-top: 18vh;
}

.hero h1{
    font-size: 7.2vw;
    line-height: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.hero h2{
    font-size: 7.2vw;
    line-height: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 0.5vw solid #fff;
    /* padding-bottom: 0.8vw;
    transition: all ease 0.3s; */
}

.hero h2:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding-top: 17vh;
    position: relative;
}

.video-container{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
    background-size: cover;
    background-position: center;
}

.video-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
}

.video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}

#video-cursor{
    background-color: #ffA63D;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:-15%;
    left: 70%;
    z-index: 999;
}

#video-cursor i{
    font-size: 2vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 7vh 2vw;
    background-color: #151515;
}


#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
}


#page3 h1::before{
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
    left: -12%;
    top: 8%;
}

#page3 .underline{
    height: 1px;
    width: 100%;
    margin: 5vw 0vw;
    background-color: #fff;
    margin-left: 28vw;
}

#image-div-container{
    padding: 1vw;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.image-div{
    height: 35vw;
    width: 27vw;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin: 2vw;
}

.image-div:nth-child(1){
    height: 29vw;
    width: 22vw;
}

.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.page3-circle1{
    height: 20vw;
    width: 20vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23vh;
    margin-left: 10vw;
    position: relative;
}

.page3-circle1 svg{
    height: 30%;
}


.page3-circle2{
    height: 20vw;
    width: 20vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.page3-circle2 svg{
    height: 30%;
    rotate: -45deg;
}

.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    border-radius: 50%;
    transition: all ease 0.3s;
}

.circle-in p{
    font-size: 0.95vw;
    color: black;
    width: 60%;
    font-weight: 500;
    scale: 0;
    transition: all ease 0.3s;
    transition-delay: 0.5s;
    opacity: 0;
}

.page3-circle1:hover .circle-in{
    scale: 1;
}

.page3-circle1:hover p{
    scale: 1;
    opacity: 1;
}

.page3-circle2:hover .circle-in{
    scale: 1;
}

.page3-circle2:hover p{
    scale: 1;
    opacity: 1;
}

#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 7vh 0vw;
}

#page4-content{
    width: 72vw;
    margin-left: 28%;
    position: relative;
}

#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}


#page4-content h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
    left: -12%;
    top: 8%;
}

#page4-content .underline{
    height: 1px;
    width: 100%;
    margin: 5vw 0vw;
    background-color: #fff;
}

#page4-content>p{
    font-size: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}

#page4-flex{
    display: flex;
}

#page4-flex img{
    width: 48%;
}

#page4-flex p{
    font-size: 0.9vw;
    width: 19%;
    margin-left: 2vw;
}

#page4-blue-div{
    width: 33vw;
    background-color: #3F7DF4;
    padding: 4vw 2vw;
    position: relative;
    margin-top: -35vh;
    margin-left: 26vw;
}

#blue-div-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.7vw 0;
    border-bottom: 2px solid #ffffffa3;
}

#blue-div-elem h4{
    font-size: 1.4vw;
    font-weight: 500;
}

#blue-div-elem p{
    width: 40%;
    font-size: 0.7vvw;
}

#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.elem{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

.elem h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    animation-name: anime;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anime{
    from{
        transform: translateX(0);
    }to{
        transform: translateX(calc(-100% - 20px));
    }
}

.elem2{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -1vw;
}

.elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    animation-name: reverse;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes reverse {
    from{
        transform: translateX(0);
    }to{
        transform: translateX(calc(-100% - 20px));
    }
}

.elem span{
    font-family: "silk serif";
    font-style: italic;
    color: transparent;
}

.elem2 span{
    font-family: "silk serif";
    font-style: italic;
    color: transparent;
}

#footer{
    height: 85vh;
    width: 100%;
    position: relative;
    padding-left: 28vw;
    padding-right: 2vw;
}

#footer h1{
    font-size: 7vw;
    width: 60vw;
    text-transform: uppercase;
    position: relative;
}

#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
    left: -12%;
    top: 8%;
}

#footer .underline{
    height: 2px;
    width: 100%;
    background-color: white;
    margin: 3vw 0vw;
}

.footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 4vw;
    margin-bottom: 6vw;
}

.footer-div h5{
    font-size: 1.4vw;
    font-weight: 500;
}
.box{
    width: 20%;
}

.footer-div h6{
    font-size: 0.9vw;
    margin-bottom: 1.5vw;
    font-weight: 500;
}

#footer>h5{
    font-weight: 500;
    font-size: 1vww;
}

._canvas_container{
    z-index: 999999 !important;
    pointer-events: none;
}